numpy==1.26.4
flet==0.22.0
python-dotenv
requests
pillow
psutil
opencv-python-headless
mediapipe
easyocr
pytesseract
pyzbar
SpeechRecognition
gTTS
edge-tts
pygame
pvporcupine
sounddevice
soundfile
google-generativeai
groq
googletrans