flet==0.27.0
opencv-python-headless==4.9.0.80
mediapipe==0.10.8
easyocr==1.7.1
pytesseract==0.3.10
pyzbar==0.1.9
SpeechRecognition==3.10.4
gTTS==2.5.1
edge-tts==6.1.13
pygame==2.5.2
pvporcupine==3.0.3
sounddevice==0.4.6
soundfile==0.12.1
google-generativeai
groq
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
psutil==7.0.0
googletrans==4.0.2